body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

.cv-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.download-button:hover {
    background-color: #0056B3;
}

.source-code-link {
    font-size: 12px;
    margin-top: 20px;
}

.source-code-link a {
    color: #007BFF;
    text-decoration: none;
}

.source-code-link a:hover {
    text-decoration: underline;
}